<!--[if gte IE 9 | !IE ]><!-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/wet-boew/wet-boew/js/wet-boew.min.js"></script>
<script src="{{ site.baseurl }}/assets/wet-boew/theme-wet-boew/js/theme.min.js"></script>
<!--<![endif]-->
<!--[if lt IE 9]>
<script src="{{ site.baseurl }}/assets/wet-boew/wet-boew/js/ie8-wet-boew2.min.js"></script>
<![endif]-->
<script src="{{ site.baseurl }}/assets/javascripts/global.js"></script>
{% if page.js == null or page.js == '' %}{% else %}{% for script in page.js %}<script src="{{ script }}.min.js"></script>{% endfor %}{% endif %}
